# general
*~
*.log
tmp
dump
logs

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin

# SBT
dist
project/boot
project/target
project/plugins/target
target
.target

# Play
logs
RUNNING_PID

# IDEA
*.iml
target
.idea
.idea_modules
.idea/**/gradle.xml
.idea/**/libraries
idea/workspace.xml