@import helper._
@dashboard{
<!-- Service Section -->
<section id="service" class="service sections margin-top-120">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="head_title text-center">
					<h1>Add Chore</h1>
				</div>
				<!-- End of head title -->

				<div class="main_service_area">
					<div class="single_service_area">
						<div class="row">
							<div class="col-sm-6">
								<div class="signle_service_left">
									<img src="assets/images/service4.jpg" alt="" />
								</div>
							</div>
							<div class="col-sm-5 col-sm-push-1">
								<div class="single_service">
									<div class="separator2"></div>
									<p>Add Chore</p>
									<form class="form-horizontal" role="form" action="@CSRF(routes.DashboardController.submitChore())" method="post">
										<div class="form-group">
											<input type="text" name="name" placeholder="Chore Name" required>
										</div>
										<div class="form-group">
											<h6>Points:
												<input type="number" name="points" min="1" max="100" placeholder="0" required>
											</h6>
										</div>
										<div class="form-group">
											<input type="text" name="description" placeholder="Please type a brief description.">
										</div>
										<div class="form-group">
											<h6>Start Time:
												<input type="time" name="starttime" value="Start Time">
											</h6>
											<h6>End Time:
												<input type="time" name="endtime" value="End Time">
											</h6>
											<h6>Weekly Repeat: </h6>
											<h6>
												<input type="checkbox" name="SUN" />SUN
												<input type="hidden" name="SUN" value="false" />
												<input type="checkbox" name="weekly" />MON
												<input type="hidden" name="MON" value="false" />
												<input type="checkbox" name="weekly" />TUE
												<input type="hidden" name="TUE" value="false" />
												<input type="checkbox" name="weekly" />WED
												<input type="hidden" name="WED" value="false" />
												<input type="checkbox" name="weekly" />THU
												<input type="hidden" name="THU" value="false" />
												<input type="checkbox" name="weekly" />FRI
												<input type="hidden" name="FRI" value="false" />
												<input type="checkbox" name="weekly" />SAT
												<input type="hidden" name="SAT" value="false" />
											</h6>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-primary">Submit</button>
											<input type="reset" class="btn btn-default">
										</div>
									</form>
									<a class="btn btn-default" href="@routes.DashboardController.parentView()"> Return </a>
									<a class="btn btn-default" href="@routes.LoginController.logout()"> Logout </a>
									<br>
								</div>
							</div>
						</div>
					</div>
					<!-- End of single service area -->
				</div>
			</div>
			<!-- End of col-sm-12 -->
		</div>
		<!-- End of row -->
	</div>
	<!-- End of Container -->
</section>
<!-- End of Service Section -->
}