@dashboard{
<!-- Service Section -->
<section id="service" class="service sections margin-top-120">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="head_title text-center">
					<h1>Dashboard</h1>
				</div>
				<!-- End of head title -->

				<div class="main_service_area">
					<div class="single_service_area">
						<div class="row">
							<div class="col-sm-6">
								<div class="signle_service_left">
									<img src="assets/images/service4.jpg" alt="" />
								</div>
							</div>
							<div class="col-sm-5 col-sm-push-1">
								<div class="single_service">
									<div class="separator2"></div>
									<p>Child View</p>
									<a class="btn btn-default" href="@routes.DashboardController.postLogin()">Return </a>
									<a class="btn btn-default" href="@routes.LoginController.logout()">Logout </a>
									<br />
								</div>
							</div>
						</div>
					</div>
					<!-- End of single service area -->
				</div>
			</div>
			<!-- End of col-sm-12 -->
		</div>
		<!-- End of row -->
	</div>
	<!-- End of Container -->
</section>
<!-- End of Service Section -->
}