@(message:String)

@main("Awexa") {
    <!-- Home Section -->
    <section id="home" class="home">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="main_home_slider text-center">

                        <div class="single_home_slider">
                            <div class="home-overlay"></div>
                            <div class="main_home wow fadeInUp" data-wow-duration="700ms">

                                <h2>@message</h2>
                                <div class="separator"></div>
                                <p class="subtitle">Awexa for Kids <br />
                                    Georgia Tech Convergence Innovation Competition 2017</p>
                                <div class="home_btn">
                                    <a href="@routes.LoginController.getLogin()" class="btn">Login</a>
                                </div>
                            </div>
                        </div><!-- End of single_home_slider -->

                        <div class="single_home_slider">
                            <div class="home-overlay"></div>
                            <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                <h2>The Alexa Skill</h2>
                                <div class="separator"></div>
                                <p class="subtitle">Try our new Alexa skill <br />
                                    to keep track of your kid's chores!</p>
                                <div class="home_btn">
                                    <a href="#" class="btn">Learn More</a>
                                </div>
                            </div>
                        </div><!-- End of single_home_slider -->

                        <div class="single_home_slider">
                            <div class="home-overlay"></div>
                            <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                <h2>The Android App</h2>
                                <div class="separator"></div>
                                <p class="subtitle">Keep track of progress<br />
                                    through our new Android app!</p>
                                <div class="home_btn">
                                    <a href="@routes.LoginController.getLogin()" class="btn">Download</a>
                                </div>
                            </div>
                        </div><!-- End of single_home_slider -->
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End of Home Section -->


}
